body{
  background-color: lightgreen;
  margin: 0;
  text-align: center;
  font-family: "Gentium Plus", Helvetica, verdana, sans-serif;
}

div{
  /* background-color: #889EAF; */
  margin: 0;
  /* height: 200px;
  width: 200px; */
}

h1{
  font-size: 5.65rem;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  /* line-height: 2; */
}

h2{
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  margin-bottom: .1rem;
}

p{

}

.top-container{
  background-color: #cff1f7;/*#889EAF;*/
  position: relative;
  padding-top: 100px;
}

.middle-container{
  background-color: lavender;
}

.bottom-container{
  background-color: lightyellow;
}

.pro{
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  left: 20%;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 20%;
  /* left: 200px;
  top: 0; */
}

.python{
  /* margin-right: 20px; */
  padding-right: 20px;
  height: 150px;
  width:150px;
}

.lemon{
  width: 150px;
  height: 150px;
  /* margin-left: 0px; */
  padding-top: 20px;
}

.plus{
  /* margin-left: 20px; */
  /* display: inline-block; */
  padding-top: 20px;
  height: 150px;
  width: 150px;
}
/*
.image-div{
  text-align: left;
} */

.programmer{
  font-family: "Montserrat", sans-serif;
}

.footer-link{
  margin: 1rem;
  font-size: 1.2rem;
}
