body{
  background-color: lightgreen;
  margin: 0;
  text-align: center;
  font-family: "Gentium Plus", Helvetica, verdana, sans-serif;
}

div{
  /* background-color: #889EAF; */
  margin: 0;
  /* height: 200px;
  width: 200px; */
}

h1{
  font-size: 5.65rem;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  /* line-height: 2; */
}

h2{
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  margin-bottom: .1rem;
}

p{

}

.top-container{
  background-color: #cff1f7;/*#889EAF;*/
  position: relative;
  padding-top: 100px;
}

.middle-container{
  background-color: lavender;
}

.bottom-container{
  background-color: lightyellow;
}

.skills{
  margin-bottom: 4rem;
}

.pro{
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  left: 20%;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 20%;
  /* left: 200px;
  top: 0; */
}

.python{
  /* margin-right: 20px; */
  padding-right: 1.4rem;
  height: 10rem;
  width: 10rem;
}

.lemon{
  width: 9.5rem;
  height: 9.5rem;
  /* margin-left: 0px; */
  padding-top: 1.3rem;
}

.plus{
  /* margin-left: 20px; */
  /* display: inline-block; */
  padding-top: 1.2rem;
  height: 9.5rem;
  width: 9.5rem;
}

/* .juice{
  height: 15rem;
  width: 13.5rem;

} */

.juice{
  height: 11rem;
  width: 9.5rem;
  float: right;
  margin-right: 1rem;

}

.programmer{
  font-family: "Montserrat", sans-serif;
}

.footer-link{
  margin: 1rem;
  font-size: 1.2rem;
}

.skill-row-python{
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  text-align: left;
  line-height: 1.5rem;
}


.skill-row-juice{
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8rem;
  text-align: left;
  line-height: 1.5rem;
}

.profile-img{
  margin-top: 2rem;
}

.skill-row-web{
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  text-align: left;
  line-height: 1.5rem;
  /* margin-bottom: 1.5rem; */
}

.web{
  width: 9rem;
  height: 9rem;
  float: left;
  margin-right: 1.5rem;
  /* margin-top: 1.5rem; */
}
